@import "tailwindcss";
/* npx tailwindcss -i ./css/style.css -o ./css/output.css --watch */

@theme {
    --color-primary: #3217E6ff;
    --color-secondary: #5E51ADff;
    --color-tertiary: #41358Cff;
    --color-quaternary: #5A660Eff;
    /* --iris: #5E51ADff;
    --chrysler-blue: #3217E6ff;
    --tekhelet: #41358Cff;
    --dark-moss-green: #5A660Eff; */
}

@layer components {
    .contentSpacer {
        @apply w-full md:h-10 sm:h-5 h-2 bg-green-100;
    }

    /* Navbar components */
    .navbar-navigation-list-item {
        @apply font-bold text-lg;
    }

    /* About components. */
    .aboutCard {
        @apply flex flex-col align-middle items-center;
    }
    .aboutCardContent {
        @apply flex flex-col items-center justify-center max-w-80;
    }

    /* Skills components. */
    .skillsCard{
        @apply flex flex-col justify-around gap-5;
    }
    .skillsList {
        @apply flex flex-row flex-wrap items-start gap-3;
    }
    .skillsListItem {
        @apply !px-3 !py-2 bg-secondary;
    }
}


#heroImage {
    width: 10em;
}
