@import "tailwindcss";
@import "./components/headerComponents.css";
/* npx tailwindcss -i ./css/style.css -o ./css/output.css --watch */

@theme {
    --color-primary: #3217E6ff;
    --color-secondary: #5E51ADff;
    --color-tertiary: #41358Cff;
    --color-quaternary: #5A660Eff;
    /* --iris: #5E51ADff;
    --chrysler-blue: #3217E6ff;
    --tekhelet: #41358Cff;
    --dark-moss-green: #5A660Eff; */
}

@layer components {
    .backgroundGradient-LeftToRight {
        @apply bg-gradient-to-br from-primary to-secondary via-black;
    }
    .backgroundGradient-RightToLeft {
        @apply bg-gradient-to-bl from-secondary to-primary via-black;
    }
    .pageWidth {
        @apply px-20;
    }

    .contentSpacer {
        @apply w-full md:h-20 sm:h-5 h-2;
    }

    .sectionSpacer {
        @apply md:py-20 sm:py-5 py-2 gap-5;
    }

    .titleFormatting {
        @apply text-4xl font-bold;
    }
    .mediumTitleFormatting {
        @apply text-3xl font-bold text-quaternary pb-3 pt-5;
    }

    /* Navbar components */
    .navbar-navigation-list-item {
        @apply font-bold text-lg px-3;
    }

    /* About components. */
    .aboutCard {
        @apply flex flex-col items-center pt-15 w-full md:w-[48%] lg:w-[30%];
    }
    .aboutCardContent {
        @apply flex flex-col justify-center max-w-120 px-5 text-center;
    }

    /* Skills components. */
    .skillsCard{
        @apply flex flex-col justify-around gap-5;
    }
    .skillsList {
        @apply flex flex-row flex-wrap items-start gap-3;
    }
    .skillsListItem {
        @apply !px-3 !py-2 bg-secondary;
    }

    /* Projects components. */
    .projectsCard {
        @apply w-full flex flex-row;
    }
    .projectsCardContent {
        @apply flex flex-col justify-start w-[65%];
    }
    .projectsCardImage {
        @apply w-[30%];
    }
    .projectsCardContent {
        /* @apply ; */
    }
}

body {
    font-family: 'Assistant', sans-serif;
    font-size: 1em;
    font-weight: 100;
}