@import "tailwindcss";

@theme {
    --color-primary: #3217E6ff;
    --color-secondary: #5E51ADff;
    --color-tertiary: #41358Cff;
    --color-quaternary: #5A660Eff;
    /* --iris: #5E51ADff;
    --chrysler-blue: #3217E6ff;
    --tekhelet: #41358Cff;
    --dark-moss-green: #5A660Eff; */
}

@layer components {
    .navbar-navigation-list-item {
        @apply font-bold text-lg;
    }
    .aboutCard {
        @apply flex flex-col align-middle max-w-40;
    }
    .aboutCardContent {
        @apply flex flex-col items-center justify-center;
    }
}


#heroImage {
    width: 10em;
}
